---
//Components
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import LinkedInIcon from "../components/icons/LinkedIn.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Experience from "../components/Experience.astro";
import Projects from "../components/Projects.astro";
import Certificados from "../components/Certificados.astro";
// Iconos
import GithubIcon from "../components/icons/Github.astro";
import SocialPill from "../components/SocialPill.astro";
import EmailICon from "../components/icons/Mail.astro";
import PortfolioIcon from "../components/icons/PortFolio.astro";
import CodeIcon from "../components/icons/Code.astro";
import CertificadosIcon from "../components/icons/CertificadosIcon.astro";
import About from "../components/About.astro";
import DescargarCV from "../components/icons/DescargarCV.astro";
---

<Layout title="Porfolio de German Desarrollador y Programador Web">
  <main class="px-4 w-full text-balance">
    <SectionContainer
      class="py-16 mx-auto pb-14 mt-16 lg:py-44 text-center justify-center items-center lg:pb-24"
    >
      <h1
        class="items-center p-2 flex text-center my-6 w-full lg:w-[1000px] mx-auto text-white justify-center text-2xl lg:text-5xl font-bold gap-4"
      >
        
          Hola, Soy German
          <Badge>Disponible</Badge>
      
      </h1>
      <h2 class="text-xl lg:text-2xl text-wrap max-w-[1120px]">
        <span class="text-blue-200">👨‍💻Desarrollador Web Full Stack.</span>
        <br />
        <span class="text-red-100/90">De Entre Rios, Argentina.</span>
      </h2>

      <nav
        class="mt-8 flex gap-4 flex-wrap text-white w-full justify-center lg:w-[1000px] mx-auto lg:flex-nowrap"
      >
        <SocialPill
          href="https://www.linkedin.com/in/german-ignacio-ruiz-diaz-a8b74a212/"
        >
          <LinkedInIcon class="size-4 md:size-6 text-white" /> LinkedIn
        </SocialPill>
        <SocialPill href="https://github.com/GerIgRuizDiaz">
          <GithubIcon class="size-4 md:size-6 text-white" /> Github
        </SocialPill>
        <SocialPill href="mailto:Germanruizdi@gmail.com">
          <EmailICon class="size-4 md:size-6 text-white" />
          Germanruizdi@gmail.com
        </SocialPill>
        <!-- <SocialPill href="/Navarro Tiago CV.pdf" download>
          <DescargarCV class="size-4 md:size-6 text-white" /> Descargar CV
        </SocialPill> -->
      </nav>
    </SectionContainer>

    <div class="space-y-24">
      <!-- <SectionContainer id="experiencia">
        <h2
          class="text-2xl font-semibold mb-6 flex text-white items-center gap-x-3 md:ml-20 lg:max-w-[1000px] mx-auto"
        >
          <PortfolioIcon class="size-8 text-white" />Experiencia Laboral
        </h2>
        <Experience />
      </SectionContainer> -->
      <!-- <SectionContainer id="certificados">
        <h2
          class="text-2xl font-semibold mb-6 flex text-white items-center gap-x-3 lg:max-w-[1000px] md:ml-20 mx-auto"
        >
          <CertificadosIcon class="size-8 text-white" /> Certificados
        </h2>
        <Certificados />
      </SectionContainer> -->
      <SectionContainer id="proyectos" class="mt-24 text-white flex flex-col">
        <h2
          class="text-2xl font-semibold mb-3 flex items-center gap-x-3 lg:max-w-[1000px] md:ml-20"
        >
          <CodeIcon class="size-8 text-white" />Proyectos
        </h2>
        <Projects />
      </SectionContainer>
      <SectionContainer id="sobre-mi">
        <About />
      </SectionContainer>
    </div>
  </main>
</Layout>
